<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All User</title>
</head>

<body>
  <h1>User List</h1>

  <a href="/user/create">Create New User</a>

  <table border="1">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Age</th>
      <th>Actions</th>
    </tr>

    {{#each users}}
    <tr>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>{{this.age}}</td>
      <td>
        <a href="/user/edit/{{this._id}}">Edit</a>
        <a href="/user/delete/{{this._id}}" onclick="return confirm('Are you sure?')">
          Delete
        </a>
      </td>
    </tr>
    {{/each}}
  </table>

</body>

</html>